.body{
  height: 100%;
  margin:0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  overflow: hidden;
}
.spiral{
  display: flex;
  align-items: center;
  gap: 10px;
  position:absolute;
}
@property --angle {
  syntax: '<angle>';
  initial-value: 0deg;
  inherit: false;
}
@keyframes spiral {
  0%{
    --angle: 0deg;
  }
  100%{
    --angle: 360deg;
  }
character{
    color: rgb(0, 0, 0);
    font: size 4em;;
    transform: translateY(calc(sin(var(--angle))*100px)) scale(calc(co(var(--angle))*0.5 + 0.5));
    animation: spiral 4s linear infinite;
  }
}